@media screen and (max-width: 900px) {

    .accordion-title h3{
        font-size: 26px;
    }

    .accordion-btn button:hover {
        opacity: .9;
        padding: 15px 17px 15px 48px;
        transition: .2s;
    }
    
    .accordion-content {
        width: 100%;
        flex-direction: column;
    }
      
    .accordion-group {
        width: 100%;
    }

    .accordion-group div::after{
        top: 30%;
    }
    
    .accordion__heading:after {
        content: "\25BC";
        width: 0px;
        height: 0px;
        top: 40%;
        right: 10px;
    }
    .accordion__heading:before {
        display: none;
    }
    
    .accordion__checkbox:checked ~ .accordion__heading:before {
        display: none;
    }
    
    .accordion__heading:after {
        transform: rotate(0deg);
    }
    
    .accordion__checkbox:checked ~ .accordion__heading:after {
        transform: rotate(-180deg);
    }

}